<app-navbar></app-navbar>
<div class="container">
    <div class="m-1">
        <button (click)="openDialog() " class="btn btn-primary">Menü Ekle</button>
    </div>
  <div class="menu-container" *ngFor="let item of menuModel">
    <div class="menu-card">
      <h1 class="menu-title">{{ item.menu.name }}</h1>
      <button *ngIf="!item.showItems" class="btn-primary btn" (click)="toggleItems(item.menu.id)">İtemleri Göster</button>
        <button *ngIf="item.showItems" class="btn-danger btn" (click)="toggleItems(item.menu.id)">İtemleri Gizle</button>
        <button (click)="openItemDialog(item.menu.id)" class="btn btn-success m-1">İtem Ekle</button>
          <button (click)="openaddCategoryDialog(item.menu.id)" class="btn btn-success m-1">Kategori Ekle</button>
        <button routerLink="/menu/{{item.menu.id}}" class="btn btn-success m-1">Menüye git</button>
    </div>
    {{item.showItems}}
    <app-get-items *ngIf="item.showItems" [menuId]="item.menu.id"></app-get-items>
  </div>
</div>
